.App {
  width: 80%;
  margin: 0 auto;
}

.App-header {
  margin: 24px 0;
  background-color: #899;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 0 48px;
}

.input-container > span {
  display: inline-block;
  font-size: 32px;
  margin-right: 16px;
  font-weight: 700;
}
.input-container > input {
  width: 280px;
  outline: none;
  height: 32px;
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 4px;
}

.image-container {
  display: inline-block;
  margin-right:16px;
  width: 40px;
}

.image-container > img {
  width: 100%;
}